body{
	font-family:'Poppins', sans-serif;
	color:$black;
	letter-spacing:1px;
}

.site-branding a, .entry-title, .nav-links a{
	font-family:'Lora', sans-serif;
}

a{
	color:$black;
	transition:0.5s;
	text-decoration: none;
	&:hover{
		color:$rose;
	}
}

.no-margin{
	margin:0;
}

.no-margin-top{
	margin-top:0;
}
