.site-header{
	padding-top:20px;
	.columns{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	a{
		color:$black;
		text-decoration: none;
	}
}

.site-branding{
	a{
		@include font-size(36);
	}
}

#primary-menu{
	margin:0;
	padding:0;
	li{
		margin-left:10px;
		list-style: none;
		display: inline-block;
		&:first-of-type{
			margin:0;
		}
		a{
			transition:0.5s;
			&:hover{
				color:$rose;
			}
		}
	}
}