.site-header{
	padding:20px 0;
	border:1px solid red;
	.columns{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	a{
		color:$black;
	}
}

.site-branding{
	a{
		@include font-size(36);
	}
}

#primary-menu{
	li{
		margin-left:20px;
		&:first-of-type{
			margin:0;
		}
		a{
			transition:0.5s;
			&:hover{
				color:$rose;
			}
		}
	}
}