body{
	background: $beige;
}

#page{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	#content{
		flex:1;
	}
}

.section-padding{
	padding:20px 0;
	@include breakpoint(large){
		padding:40px 0;
	}
}