html{
	height: 100%;
}

body{
	background: $beige;
	height: 100%;
}

#page{
	display: flex;
	flex-direction: column;
	height: 100%;
}

#content{
	flex:1 0 auto;
}

.section-padding{
	padding:20px 0;
	@include breakpoint(large){
		padding:40px 0;
	}
}

.error-404{
	text-align: center;
	.page-title{
		@include font-size(70);
		margin:0;
	}
}