.post{
	.home &{
		position:relative;
		margin-bottom:20px;
		.entry-title{
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color:white;
			transition:0.5s;
			box-shadow:0px 0px 5px 0px $black;
			h2{
				display: none;
				@include font-size(30);
			}
			&:hover{
				background:rgba(0, 0, 0, 0.6);
				h2{
					display: block;
				}
			}
		}
	}
	.single-post &{
		padding-top:40px;
		.single-post-content{
			border-bottom:1px solid #ececec;
			.entry-title{
				text-align: center;
				@include font-size(24);
				@include breakpoint(large){
					@include font-size(40);
				}
			}
		}
	}
}

.posts-navigation{
	.nav-links{
		text-align: center;
		div{
			display: inline-block;
			width: 120px;
			margin:0 10px;
			&.nav-previous{
				text-align: right;
				a::after{
					content:'\f177';
					font-family:'FontAwesome';
					margin-left:5px;
				}
			}
			&.nav-next{
				text-align: left;
				a::before{
					content:'\f178';
					font-family:'FontAwesome';
					margin-right:5px;
				}
			}
		}
	}
}